@model XyzSystem.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*@using (Html.BeginForm())
{
    <p>
        Find by Category: @Html.TextBox("categoryId")
        <input type="submit" value="Filter" />
    </p>
}*@
@using (Html.BeginForm())
{
    <p>
        @*Find by Category: @Html.DropDownListFor(m=>m.First().categoryId, Model.First().AllCategories as SelectList, "All")*@
        Find by Category : @Html.DropDownListFor(m => m.CategoryId, Model.AllCategories ?? new List<SelectListItem>(),"All")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @item.UnitPrice.ToString("F2")
            </td>
                <td>
                    @Html.ListBox("Category", new SelectList(item.Categories,"CategoryId","CategoryName"))
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
